# Secrets
*.jks
*.keystore
keystore.properties

# Cache
.gradle
/.kotlin
/build

# IDEA preferences
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

*.iml
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx